- content_for :title do
  Editar Periodo

#content-header
  %h1 Editar Periodo
  #action-links
    = link_to '<< Volver al listado', periodos_path
    = link_to 'Ver', @periodo
#content-body
  = render :partial => "shared/info", :locals => { :registro => @periodo }
  = render 'form'


