- content_for :title do
  Nueva prestaci贸n brindada

- content_for :other_includes do
  = javascript_include_tag 'prestaciones_brindadas'

#content-header
  %h1 Nueva prestaci贸n brindada

= render :partial => "shared/info", :locals => { :registro => @prestacion_brindada }

#content-body
  %h2.first-header-with-note Formulario de creaci贸n de una nueva prestaci贸n brindada
  %p.note Los campos marcados con asterisco (*) son obligatorios

  = render "form"
