- content_for :title do
  Modificaci칩n de la adenda

#content-header
  %h1 Modificaci칩n de la adenda

= render :partial => "/shared/info", :locals => { :registro => @addenda }

#content-body
  %h2.first-header Informaci칩n de la adenda que se modificar치

  = render 'form'
