- content_for :title do
  Creación de un nuevo referente

#content-header
  %h1 Creación de un nuevo referente

= render :partial => "shared/info", :locals => { :registro => @referente }

#content-body
  %h2.first-header-with-note Formulario de creación de un referente
  %p.note Los campos marcados con asterisco (*) son obligatorios

  = render 'form'
