<%= form_for(@liquidacion_sumar) do |f| %>
  <% if @liquidacion_sumar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liquidacion_sumar.errors.count, "error") %> prohibited this liquidacion_sumar from being saved:</h2>

      <ul>
      <% @liquidacion_sumar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
