<h1>Listing liquidaciones_sumar</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @liquidaciones_sumar.each do |liquidacion_sumar| %>
  <tr>
    <td><%= link_to 'Show', liquidacion_sumar %></td>
    <td><%= link_to 'Edit', edit_liquidacion_sumar_path(liquidacion_sumar) %></td>
    <td><%= link_to 'Destroy', liquidacion_sumar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Liquidacion sumar', new_liquidacion_sumar_path %>
