log
tmp/
test/
.sass-cache/
public/assets
*.swp
*~
config/environments/production.rb
db/schema.rb
config/database.yml
vendor/data
.project
*.lnk
REVISION
public/system
lib/tasks/datos
public/paperclip

/db/schema.rb
/.project
/.byebug_history

/public/system/*
/public/attachments/*
/nbproject/
