- content_for :title do
  Modificación de datos del convenio de administración Sumar

#content-header
  %h1 Modificación de datos del convenio de administración Sumar

= render :partial => "shared/info", :locals => {:registro => @convenio_de_administracion}

#content-body
  %h2.first-header-with-note Formulario de modificación de datos del convenio de administración Sumar
  %p.note Los campos marcados con asterisco (*) son obligatorios

  = render 'form'
