- content_for :title do
  Creación de un nuevo convenio de administración Sumar

#content-header
  %h1 Creación de un nuevo convenio de administración Sumar

= render :partial => "shared/info", :locals => { :registro => @convenio_de_administracion }

#content-body
  %h2.first-header-with-note Formulario de creación de un convenio de administración Sumar
  %p.note Los campos marcados con asterisco (*) son obligatorios

  = render 'form'
