<%= form_for(@consolidado_sumar) do |f| %>
  <% if @consolidado_sumar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consolidado_sumar.errors.count, "error") %> prohibited this consolidado_sumar from being saved:</h2>

      <ul>
      <% @consolidado_sumar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
