$(document).ready(function(){

  //Controla si es comunitaria. En caso de serlo, oculta el campo de grupo poblacional y sexo, en caso contrario, lo muestra.
  //Luego este método vuelve a llamarse cada vez que se modifique el checkbox de "es comunitaria"
  hideCampos();

  // Función para buscar los grupos pdss de una sección pdss
  $(document).on( "change", ".seccion-pdss-select", function() {
    var seccion_pdss_id = this.value;
    var seccion_pdss_select = this
    var grupo_pdss_select = $(this).parent().children(".grupo-pdss-select");

    // Llamada AJAX para buscar en el servidor
    $.get( "/secciones_pdss/" + seccion_pdss_id + "/grupos_pdss.json", function( data ) {
      
      // resetea el grupo_pdss_select
      grupo_pdss_select.empty();

      // Agrega las opciones al grupo_pdss_select
      for (var i in data) {
        if(i==0){
          actualizarGuposPoblacionales(data[i].id);
          actualizarSexos(data[i].id);
        }
        $(grupo_pdss_select).append('<option value=' + data[i].id + '>' + data[i].nombre + '</option>');
      }

    });
  });

  var actualizarGuposPoblacionales = function(grupo_pdss_id){
    var grupos_poblacionales_select = $("#prestacion_grupo_poblacional_ids");

    // Llamada AJAX para buscar en el servidor
    $.get( "/grupos_pdss/" + grupo_pdss_id + "/grupos_poblacionales.json", function( data ) {
      // resetea el grupos_poblacionales_select
      grupos_poblacionales_select.empty();

      // Agrega las opciones al grupos_poblacionales_select
      for (var i in data) {
        $(grupos_poblacionales_select).append('<option value=' + data[i].id + '>' + data[i].nombre + '</option>');
      }

      grupos_poblacionales_select.trigger("chosen:updated");

    });
  }

  var actualizarSexos = function(grupo_pdss_id){
    var sexos_select = $("#prestacion_sexo_ids");

    // Llamada AJAX para buscar en el servidor
    $.get( "/grupos_pdss/" + grupo_pdss_id + "/sexos.json", function( data ) {
      // resetea el sexos_select
      sexos_select.empty();

      // Agrega las opciones al sexos_select
      for (var i in data) {
        $(sexos_select).append('<option value=' + data[i].id + '>' + data[i].nombre + '</option>');
      }

      sexos_select.trigger("chosen:updated");

    });
  }

  $(document).on( "change", ".grupo-pdss-select", function() {
    actualizarGuposPoblacionales(this.value);
    actualizarSexos(this.value);
  });

  $(document).on( "change", "#prestacion_unidad_de_medida_id", function() {
    var unidad_de_medida_id = this.value;
    if(unidad_de_medida_id==1){
      $("#prestacion_unidades_maximas").attr("disabled", true);
    }else{
      $("#prestacion_unidades_maximas").attr("disabled", false);
    }
  });

  // Inicialización del popup
  $( "#popup-de-prestaciones-pdss" ).dialog({ autoOpen: false, 
                                              width: 600, 
                                              beforeClose: function( event, ui ) {$(this).text("");} 
                                            });



  //  Función para llenar el popup con prestaciones según el código ingresado
  $("#validador-de-codigo").click(function(){
    var selectObjetoDeLaPrestacion = document.getElementById("prestacion_objeto_de_la_prestacion_id");
    var prestacion_objeto_de_la_prestacion_id = selectObjetoDeLaPrestacion.options[selectObjetoDeLaPrestacion.selectedIndex].value;

    //  Si el usuario no ha ingresado nungún código entonces muestra un mensaje sobre esto
    if($("#prestacion_codigo").val() == "") {
      alert("Por favor, ingresar un código a validar");
    } else {
      //  Llamada AJAX para buscar prestaciones por código
      $.get( "/prestaciones.json?objeto_de_la_prestacion_id=" + prestacion_objeto_de_la_prestacion_id, function( data ) {
        //  Si no existe nunguna prestación con ese código entonces muestra un mensaje indicandolo
        if(data.length == 0){
          alert("¡No existe nunguna prestación con el código ingresado!");    
        } else {

        // Sino, por cada prestación crea un texto con su nombre y un link para ir a editarlo 
          $.each(data, function(k, data) {
            $("#popup-de-prestaciones-pdss").append('<div>' + data.nombre + '<a href="/prestaciones/' + data.id  + '/edit"> Editar </a></div>');     
          });
          $( "#popup-de-prestaciones-pdss" ).dialog( "open" );
        }
      });
    }
  });


  $(document).on( "change", ".magicselect", function() {
        var dato_reportable_id = $(this).val();
        var full_id = $(this).attr('id');
        url = '/datos_reportables/' + dato_reportable_id;
        $.get(url , function(data){ 
                if (data != undefined && data != null && data.dato_reportable_sirge_id !=null) {
                  $( 'label[for=' + full_id.replace("dato_reportable_id","labelRS")+']').show();
                  $( '#' + full_id.replace("dato_reportable_id","es_requerido_sirge")).show();  
                }else{
                  $( 'label[for=' + full_id.replace("dato_reportable_id","labelRS")+']').hide();
                  $( '#' + full_id.replace("dato_reportable_id","es_requerido_sirge")).hide();  
                }
            }
        );
      }
  );





});

function hideCampos(){

  if(document.getElementById("check_comunitaria").checked){

    toggleDisplay(document.getElementById('select_grupo'), false);
    toggleDisplay(document.getElementById('select_sexo'), false); 

  }
  else {

    toggleDisplay(document.getElementById('select_grupo'), true);
    toggleDisplay(document.getElementById('select_sexo'), true); 

  }

}

function toggleDisplay(element, show) {

    if(element){

        if (show) {
            element.style.display = 'block';
        } else {
            element.style.display = 'none';
        }

    }
} 


