$(document).ready(function(){

  // Función para buscar los grupos pdss de una sección pdss
  $(document).on( "change", ".seccion-pdss-select", function() {
    var seccion_pdss_id = this.value;
    var seccion_pdss_select = this
    var grupo_pdss_select = $(this).parent().children(".grupo-pdss-select");

    // Llamada AJAX para buscar en el servidor
    $.get( "/secciones_pdss/" + seccion_pdss_id + "/grupos_pdss.json", function( data ) {
      
      // resetea el grupo_pdss_select
      grupo_pdss_select.empty();

      // Agrega las opciones al grupo_pdss_select
      for (var i in data) {
          $(grupo_pdss_select).append('<option value=' + data[i].id + '>' + data[i].nombre + '</option>');
      }

    });
  });

  $(document).on( "change", "#prestacion_unidad_de_medida_id", function() {
    var unidad_de_medida_id = this.value;
    if(unidad_de_medida_id==1){
      $("#prestacion_unidades_maximas").attr("disabled", true);
    }else{
      $("#prestacion_unidades_maximas").attr("disabled", false);
    }
  });

  // Inicialización del popup
  $( "#popup-de-prestaciones-pdss" ).dialog({ autoOpen: false, 
                                              width: 600, 
                                              beforeClose: function( event, ui ) {$(this).text("");} 
                                            });



  //  Función para llenar el popup con prestaciones según el código ingresado
  $("#validador-de-codigo").click(function(){
    var selectObjetoDeLaPrestacion = document.getElementById("prestacion_objeto_de_la_prestacion_id");
    var prestacion_objeto_de_la_prestacion_id = selectObjetoDeLaPrestacion.options[selectObjetoDeLaPrestacion.selectedIndex].value;

    //  Si el usuario no ha ingresado nungún código entonces muestra un mensaje sobre esto
    if($("#prestacion_codigo").val() == "") {
      alert("Por favor, ingresar un código a validar");
    } else {
      //  Llamada AJAX para buscar prestaciones por código
      $.get( "/prestaciones.json?objeto_de_la_prestacion_id=" + prestacion_objeto_de_la_prestacion_id, function( data ) {
        //  Si no existe nunguna prestación con ese código entonces muestra un mensaje indicandolo
        if(data.length == 0){
          alert("¡No existe nunguna prestación con el código ingresado!");    
        } else {

        // Sino, por cada prestación crea un texto con su nombre y un link para ir a editarlo 
          $.each(data, function(k, data) {
            $("#popup-de-prestaciones-pdss").append('<div>' + data.nombre + '<a href="/prestaciones/' + data.id  + '/edit"> Editar </a></div>');     
          });
          $( "#popup-de-prestaciones-pdss" ).dialog( "open" );
        }
      });
    }
  });

});

