- content_for :title do
  Creación de una nueva unidad de alta de datos

#content-header
  %h1 Creación de una nueva unidad de alta de datos

= render :partial => "shared/info", :locals => { :registro => @unidad_de_alta_de_datos }

#content-body
  %h2.first-header-with-note Formulario de creación de una unidad de alta de datos
  %p.note Los campos marcados con asterisco (*) son obligatorios

  = render 'form'
