$(document).ready(function(){

  // Función para buscar los grupos pdss de una sección pdss
  $(document).on( "change", ".seccion-pdss-select", function() {
    var seccion_pdss_id = this.value;
    var seccion_pdss_select = this
    var grupo_pdss_select = $(this).parent().children(".grupo-pdss-select");

    // Llamada AJAX para buscar en el servidor
    $.get( "/secciones_pdss/" + seccion_pdss_id + "/grupos_pdss.json", function( data ) {
      
      // resetea el grupo_pdss_select
      grupo_pdss_select.empty();

      // Agrega las opciones al grupo_pdss_select
      for (var i in data) {
          $(grupo_pdss_select).append('<option value=' + data[i].id + '>' + data[i].nombre + '</option>');
      }

    });
  });

  //  Función para llenar el popup con prestaciones según el código ingresado
  $("#validador-de-codigo").click(function(){
    var selectObjetoDeLaPrestacion = document.getElementById("validator_objeto_de_la_prestacion_id");
    var prestacion_objeto_de_la_prestacion_id = selectObjetoDeLaPrestacion.options[selectObjetoDeLaPrestacion.selectedIndex].value;

    //  Si el usuario no ha ingresado nungún código entonces muestra un mensaje sobre esto
    if($("#prestacion_codigo").val() == "") {
      alert("Por favor, ingresar un código a validar");
    } else {
      console.log(window.location.href + "?objeto_de_la_prestacion_id=" + prestacion_objeto_de_la_prestacion_id);
    }
  });
  
});