- content_for :title do
  Resultados del proceso de cierre

#content-header
  %h1 Resultados del proceso de cierre

= render :partial => "shared/info"

#content-body
  %h2.first-header Procesamiento de novedades
  - if @errores != ""
    = @errores
  - else
    %p Se terminaron de procesar las novedades. Los archivos se guardaran en el siguiente directorio:
    = @directorio
