- content_for :title do
  Modificación de datos de la liquidación

#content-header
  %h1 Modificación de datos de la liquidación

= render :partial => "shared/info", :locals => {:registro => @liquidacion}

#content-body
  %h2.first-header-with-note Formulario de modificación de datos de la liquidación
  %p.note Los campos marcados con asterisco (*) son obligatorios

  = render 'form'
