%table{:border => "0", :width => "100%", :id => 'tabla_filtros'}
  %tr
    
    %th{:scope => "col", width: "10px"} #
    %th{:scope => "col"} Filtro
    %th{:scope => "col"} Valor por defecto
    %th{:scope => "col"} Validador de UI
    %th{:scope => "col"} Acciones