- content_for :title do
  Modificación de la información del contacto

#content-header
  %h1 Modificación de la información del contacto

= render :partial => "shared/info", :locals => { :registro => @contacto }

#content-body
  %h2.first-header Información del contacto

  = render 'form'
