function isDefined(value){
  return (value != undefined && value != null && value != "") ? true : false
}
function removeConvenioNumeroFirmante(convenioDeGestionSumarId){
  event.preventDefault();
  var element = '#convenios_numeros_firmantes_' + convenioDeGestionSumarId;
  $(element).remove();
};
$(document).ready(function(){
  //  Función para llenar el popup con prestaciones según el código ingresado
  $("#button-add-convenio-numero-firmante").click(function(event){
    event.preventDefault();
    var convenio_de_gestion_id = $("#addenda_sumar_convenio_de_gestion_sumar_id" ).val();
    var convenio_de_gestion_nombre = $("#addenda_sumar_convenio_de_gestion_sumar_id option:selected" ).text();
    var numero = document.getElementById("addenda_sumar_numero").value;
    var firmante = document.getElementById("addenda_sumar_firmante").value;

    if(isDefined(convenio_de_gestion_id) && isDefined(numero) && isDefined(firmante)){
      $("#convenios_numeros_firmantes").append('<div id="convenios_numeros_firmantes_' + convenio_de_gestion_id + '">' + convenio_de_gestion_nombre + '<a href="#" onclick="removeConvenioNumeroFirmante(' + convenio_de_gestion_id + ')"> Quitar </a>' 
                                              + '<input name="addenda_sumar[convenios_numeros_firmantes][' + convenio_de_gestion_id + '][convenio_de_gestion_sumar_id]" type="hidden" value="' + convenio_de_gestion_id + '">'
                                              + '<input name="addenda_sumar[convenios_numeros_firmantes][' + convenio_de_gestion_id + '][numero]" type="hidden" value="' + numero + '">'
                                              + '<input name="addenda_sumar[convenios_numeros_firmantes][' + convenio_de_gestion_id + '][firmante]" type="hidden" value="' + firmante + '">'
                                              + '</div>');
    }

  });  

});

