- content_for :title do
  Modificación del proceso de datos externos

#content-header
  %h1 Modificación del proceso de datos externos

= render :partial => "shared/info", :locals => { :registro => @proceso }

#content-body
  %h2.first-header-with-note Formulario de modificación del proceso de datos externos
  %p.note Los campos marcados con asterisco (*) son obligatorios

  = render "form"
