- content_for :title do
  Sistema de gestión del seguro provincial / Programa Sumar Mendoza

#content-header
  %h1 Inicio

= render :partial => "shared/info"

#content-body

  %h2.first-header
    - if current_user.sexo_id == 1
      Bienvenida,
    - else
      Bienvenido,
    = current_user.firstname

  %p
    Puede comenzar a trabajar. Seleccione el módulo y operación deseados desde el menú superior.
