<p id="notice"><%= notice %></p>

<p>
  <b>Dias de prestacion:</b>
  <%= @parametro_liquidacion_sumar.dias_de_prestacion %>
</p>


<%= link_to 'Edit', edit_parametro_liquidacion_sumar_path(@parametro_liquidacion_sumar) %> |
<%= link_to 'Back', parametros_liquidaciones_sumar_path %>
