- content_for :title do
  Creación de un nuevo efector

- content_for :other_includes do
  = javascript_include_tag "efectores"

#content-header
  %h1 Creación de un nuevo efector

= render :partial => "shared/info", :locals => { :registro => @efector }

#content-body
  %h2.first-header-with-note Formulario de creación de un efector
  %p.note Los campos marcados con asterisco (*) son obligatorios

  = render 'form'
