- content_for :title do
  Formulas

#content-header
  %h1 Nueva Formula
  #action-links
    = link_to '<< Volver al listado', formulas_path

#content-body
  = render :partial => "shared/info", :locals => { :registro => @formula }
  = render 'form'


