- content_for :title do
  Modificaci칩n de la solicitud

- content_for :other_includes do
  = javascript_include_tag "novedades_de_los_afiliados"

#content-header
  %h1 Modificaci칩n de la solicitud

= render :partial => "shared/info", :locals => { :registro => @novedad }

#content-body
  %h2.first-header Informaci칩n de la solicitud que se modificar치

  = render "form"
