- content_for :title do
  Modificación de datos de la solicitud

- content_for :other_includes do
  = javascript_include_tag "novedades_de_los_afiliados"

#content-header
  %h1 Modificación de datos de la solicitud

= render :partial => "shared/info", :locals => { :registro => @novedad }

#content-body
  %h2.first-header-with-note Formulario de modificación de datos de la solicitud
  %p.note Los campos marcados con asterisco (*) son obligatorios

  - if @novedad.tipo_de_novedad.codigo == "B"
    = render "form_baja"
  - else
    = render "form"
