- content_for :title do
  Creaci칩n de una nueva solicitud

#content-header
  %h1 Creaci칩n de una nueva solicitud

= render :partial => "shared/info", :locals => { :registro => @novedad }

#content-body
  %h2.first-header Informaci칩n de la solicitud que se crear치

  = render "form"
