- content_for :title do
  Creación de una nueva solicitud de alta de beneficiario

- content_for :other_includes do
  = javascript_include_tag "novedades_de_los_afiliados"

#content-header
  %h1 Creación de una nueva solicitud de alta de beneficiario

= render :partial => "shared/info", :locals => { :registro => @novedad }

#content-body
  %h2.first-header-with-note Formulario de creación de una nueva solicitud de alta de beneficiario
  %p.note Los campos marcados con asterisco (*) son obligatorios

  = render "form_modificacion"
