- content_for :title do
  Editar Concepto de facturacion

#content-header
  %h1 Editar Concepto de facturacion
  #action-links
    = link_to '<< Volver al listado', conceptos_de_facturacion_path
    = link_to 'Ver', @concepto_de_facturacion
#content-body
  = render :partial => "shared/info", :locals => { :registro => @concepto_de_facturacion }
  
  = render 'form'

