#content-header
  %h1 Editar Nota de debito
  #action-links
    = link_to '<< Volver al listado', notas_de_debito_path 
    = link_to 'Ver', @nota_de_debito

#content-body
  = render :partial => "shared/info", :locals => { :registro => @nota_de_debito }
  = render 'form'

