table {
  border-collapse: collapse;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; }
  

table th {
  background: none repeat scroll 0 0 #333333;
  border-bottom: 2px solid #FFFFFF;
  border-top: 1px solid transparent;
  color: white;
  padding: 8px;
  text-align: center; }

table tr {
}

table td {
  background: none repeat scroll 0 0 transparent;
  border-bottom: 2px solid #FFFFFF;
  border-top: 1px solid transparent;
  color: #1A1A1A;
  padding: 8px;
  &.centrado {
    text-align: center; }
  &.izquierda {
    text-align: left; }
  &.derecha {
    text-align: right; } }

table tr:hover td {
  background: none repeat scroll 0 0 #FFFFFF; }
  


table tr.clickable:hover td {
/*  font-weight: bold; */
  color: #333333; }

table tr.clickable {
  cursor: pointer; }
  
/* *********************/
/* line 8, ../../app/assets/stylesheets/wice_grid.css.scss */
.wg-detached-filter a.date-label, .wice-grid a.date-label {
  text-decoration: none;
}
/* line 9, ../../app/assets/stylesheets/wice_grid.css.scss */
.wg-detached-filter a.date-label:hover, .wice-grid a.date-label:hover {
  text-decoration: line-through;
}
/* line 11, ../../app/assets/stylesheets/wice_grid.css.scss */
.wg-detached-filter .clickable, .wice-grid .clickable {
  cursor: pointer;
  margin-bottom: 2px;
  margin-right: 2px;
}
/* line 17, ../../app/assets/stylesheets/wice_grid.css.scss */
.wg-detached-filter .ui-datepicker-trigger, .wg-detached-filter .wg-detached-filter .ui-datepicker-trigger, .wice-grid .ui-datepicker-trigger, .wice-grid .wg-detached-filter .ui-datepicker-trigger {
  cursor: pointer;
}
/* line 21, ../../app/assets/stylesheets/wice_grid.css.scss */
.wg-detached-filter .custom-dropdown-container, .wice-grid .custom-dropdown-container {
  position: relative;
  padding-right: 18px;
}
/* line 26, ../../app/assets/stylesheets/wice_grid.css.scss */
.wg-detached-filter .custom-dropdown-container .collapse-multi-select-icon, .wg-detached-filter .custom-dropdown-container .expand-multi-select-icon, .wice-grid .custom-dropdown-container .collapse-multi-select-icon, .wice-grid .custom-dropdown-container .expand-multi-select-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 34, ../../app/assets/stylesheets/wice_grid.css.scss */
.wg-detached-filter .custom-dropdown-container .collapse-multi-select-icon, .wice-grid .custom-dropdown-container .collapse-multi-select-icon {
  background: transparent url(/assets/icons/grid/collapse.gif) no-repeat;
}
/* line 38, ../../app/assets/stylesheets/wice_grid.css.scss */
.wg-detached-filter .custom-dropdown-container .expand-multi-select-icon, .wice-grid .custom-dropdown-container .expand-multi-select-icon {
  background: transparent url(/assets/icons/grid/expand.gif) no-repeat;
}
/* line 44, ../../app/assets/stylesheets/wice_grid.css.scss */
.wg-detached-filter .text-filter-container, .wice-grid .text-filter-container {
  position: relative;
  padding-right: 13px;
}
/* line 46, ../../app/assets/stylesheets/wice_grid.css.scss */
.wg-detached-filter .text-filter-container .negation-checkbox, .wice-grid .text-filter-container .negation-checkbox {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 57, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid {
  /* in case of twitter bootstrap :) */
}
/* line 60, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid .desc, .wice-grid .asc {
  padding-right: 18px;
  text-decoration: none;
}
/* line 65, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid .desc {
  background: transparent url(/assets/icons/grid/arrow_down.gif) right no-repeat;
}
/* line 68, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid .asc {
  background: transparent url(/assets/icons/grid/arrow_up.gif) right no-repeat;
}
/* line 72, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid .submit.clickable {
  background: transparent url(/assets/icons/grid/table_refresh.png) no-repeat;
  width: 16px;
  height: 16px;
}
/* line 77, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid .reset.clickable {
  background: transparent url(/assets/icons/grid/table.png) no-repeat;
  width: 16px;
  height: 16px;
}
/* line 84, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid .wg-show-filter.clickable,
.wice-grid .wg-hide-filter.clickable {
  background: transparent url(/assets/icons/grid/page_white_find.png) no-repeat;
  width: 16px;
  height: 16px;
}
/* line 90, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid .export-to-csv-button.clickable {
  background: transparent url(/assets/icons/grid/page_white_excel.png) no-repeat;
  width: 16px;
  height: 16px;
}
/* line 95, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid .clickable.select-all {
  background: transparent url(/assets/icons/grid/tick_all.png) no-repeat;
  width: 16px;
  height: 16px;
  float: left;
}
/* line 101, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid .clickable.deselect-all {
  background: transparent url(/assets/icons/grid/untick_all.png) no-repeat;
  width: 16px;
  height: 16px;
  float: left;
}
/* line 109, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid thead th select {
  width: auto;
}
/* line 113, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid .pagination {
  margin: 0px;
  float: left;
}
/* line 119, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid tr.wg-filter-row input[type=text] {
  width: 100px;
}
/* line 123, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid .pagination_status {
  font-weight: bold;
  float: right;
}

/* line 131, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid-query-panel li {
  list-style-type: none;
}
/* line 133, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid-query-panel ul {
  margin-left: 0;
}
/* line 135, ../../app/assets/stylesheets/wice_grid.css.scss */
.wice-grid-query-panel a.wice-grid-delete-query .delete-icon {
  background: transparent url(/assets/icons/grid/delete.png) no-repeat;
  float: left;
  width: 16px;
  height: 16px;
}
