$azul_nacer: #0089cb;
$item_seleccionado: #005db7;

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0 none;
}

/*
input,select {
  margin: 0;
  padding: 0;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

button {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
*/

body {
  background: #808080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
}

h1, h2, h3, h4 {
  padding: 10px 0px 10px 0px;
  font-weight: bold;
  clear: both;
}

.first-header {
  padding-top: 0;
}

.first-header-with-note {
  padding: 0;
}

.header-with-note {
  padding-bottom: 0;
}

.note {
  color: #888888;
  font-size: 10px;
  font-style: italic;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
  font-style: italic;
}

h3 {
  font-size: 1.1em;
}

ul, ol {
  margin-top: 0;
  line-height: 160%;
}

p {
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#wrapper {
  width: 960px;
  margin: 0px auto;
  background: image-url("fondo_azul.png") repeat center top; }

#wrapper-bgbtm { }

/* Header */

#header {
  width: 960px;
  height: 159px;
  background: image-url("cabecera.png") no-repeat 0px;
  position: relative;
}

/* Búsqueda */

#search {
  float: right;
  height: 0px;
  padding: 3px; 
}

#search form {
  height: 0px;
  padding-left: 0px; 
}

#search fieldset {
  margin: 0;
  padding: -20;
  border: none; }

#search input {
  margin-top: 5px;
  margin-left: 20px;
  height: 20px;
  padding: 2px;
  border: 0px solid #000000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  &.hidden {
    display: none;
  }
}

#lupa {
  float: right;
  margin-left: 5px; 
  margin-right: 8px; 
  margin-top: 11px; }

/* Page */

#page {
  width: 960px;
  clear: both;
}

/* Content */

#content-header {
  height: 30px;
  background-color: #e0e0e0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  h1 {
    color: #000000;
    float: left;
    padding: 6px 0;
    margin: 0 20px;
  }
}

#content-body {
  width: 920px;
  padding: 20px 20px 0px 20px;
  clear: both;
}

#resultados {
  padding-top: 20px;
}

.destacado {
  color: $azul_nacer;
  font-weight: bold;
  font-style: italic;
}

#action-links {
  float: left;
  padding: 5px 0 0 0;

  a {
    color: #f0f0f0;
    float: left;
    margin-right: 10px;
    padding: 2px 5px;
    border: 1px solid #00447a;
    text-decoration: none;
    font-weight: bold;
    background-color: $azul_nacer;
    display: block;
    &:hover {
      background-color: #f0f0f0;
      color: $azul_nacer;
      border: 1px solid $azul_nacer;
    }
  }
}

/* Tables */
table {
  border-collapse: collapse;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; }
  

table th {
  background: none repeat scroll 0 0 #333333;
  border-bottom: 2px solid #FFFFFF;
  border-top: 1px solid transparent;
  color: white;
  padding: 8px;
  text-align: center; }

table tr {
}

table td {
  background: none repeat scroll 0 0 transparent;
  border-bottom: 2px solid #FFFFFF;
  border-top: 1px solid transparent;
  color: #1A1A1A;
  padding: 8px;
  &.centrado {
    text-align: center; }
  &.izquierda {
    text-align: left; }
  &.derecha {
    text-align: right; } }

table tr:hover td {
  background: none repeat scroll 0 0 #72C2DB; }

table tr.clickable:hover td {
/*  font-weight: bold; */
  color: #333333; }

table tr.clickable {
  cursor: pointer; }

.pagination {
  margin-top: 10px;
  background: transparent;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    background-color: white;
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    -moz-box-shadow: -2px 2px 4px #777777;
    -webkit-box-shadow: -2px 2px 4px #777777;
    box-shadow: -2px 2px 4px #777777;
    margin-right: 4px; }
  .pagination .disabled {
    color: #777777;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #777777; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: $item_seleccionado;
    color: white;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: -2px 5px 0px 1px;
    border: 4px solid $item_seleccionado; }
  .pagination .gap {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent; }
  .pagination a {
    text-decoration: none;
    color: $azul_nacer;
    border: 1px solid $azul_nacer; }
    .pagination a:hover, .pagination a:focus {
      color: $item_seleccionado;
      margin-top: -1px;
      font-weight: bold;
      border: 2px solid $item_seleccionado; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }

/* Footer */

#footer {
/*  background: image-url("footer.png") no-repeat center top; */
  width: 960px;
  height: 100px;
  margin: 20px 0px 0px 0px;
  font-family: Arial, Helvetica, sans-serif; }

#footer p {
  float: none;
  background: #000000;
  margin: 0px;
  padding: 0px;
  line-height: normal;
  text-align: center;
  font-size: 10px;
  color: #ffffff;
  &.primero {
    padding-top: 8px; }
  &.licencia {
  padding: 5px 0px; } }


#footer a {
  color: #00A9E9;
  font-weight: bold; }

#rails-logo {
  float: right;
  margin-right: 10px; }
  


#pie {
  float: centre;
  margin-left: 0px; }
  

div {
  &.field, &.field_content, &.actions {
    line-height: 24px;
    margin-bottom: 10px;
    clear: both; } }

div.actions {
  padding-top: 10px;
}

input[type=submit] {
  margin-right: 20px;
}

div.field label {
  margin-right: 10px;
}

div {
  &.hidden_field {
    margin: 0px;
    padding: 0px;
    display: inline;
  }
}

.field_name {
  margin-right: 10px;
}

.field_value,
.field_value_multiline,
.field_empty,
.field_modified,
.field_old_value,
.field_deleted {
  padding: 3px 7px;
  margin-right: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 1.1em;
}

.field_value,
.field_value_multiline {
  background-color: #e0e0e0;
  font-style: italic;
  border: 1px solid #e0e0e0;
}

.field_value_multiline {
  display: block;
}

.field_modified {
  background-color: #ffe9ad;
  border: 1px solid #ffe9ad;
  font-style: italic;
}

.field_old_value {
  color: #ffa467;
}

.field_empty {
  border: 1px solid #c0c0c0;
  color: #c0c0c0;
}

.field_deleted {
  border: 1px solid #ffe9ad;
  color: #c0c0c0;
}

div.field_with_errors {
  line-height: 24px;
  color: #D8000C;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #fccac1;
  float: left;
}

/* INFOBOXES ------------------------------------------------------------*/

#info {
  clear: both;
}

.infobox-advertencia,
.infobox-ok,
.infobox-error {
  width:  655px;
  border: 1px solid;
  margin: 20px 20px 5px 20px;
  padding: 5px 50px 5px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  h2 {
    margin: 0;
    padding: 4px 0px 2px 0px;
    font-weight: bold;
  }
  ul {
    padding-left: 15px;
  }
}

.infobox-advertencia {
  color: #9F6000;
  background-color: #ffe9ad;
  background-image: image-url("info-yellow.png"); 
}

.infobox-ok {
  color: #4F8A10;
  background-color: #effeb9;
  background-image: image-url("info-green.png");
}

.infobox-error {
  color: #D8000C;
  background-color: #fccac1;
  background-image: image-url("info-red.png");
}    

.no-margin {
  margin: 0;
}

/* NUEVO MENÚ */

#newmenu {
  list-style: none;
  width: 940px;
  margin: 4px auto 0px auto;
  height: 30px;
  padding: 0px 0px 0px 20px;

  /* Rounded Corners */
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;

  /* Background color and gradients */
  background: #000000;
}

#newmenu li {
  z-index: 1;
  float: left;
  display: block;
  text-align: center;
  position: relative;
  padding: 6px 8px 2px 8px;
  border: none;
}

#newmenu li:hover {
  border: 0px solid #777777;

  /* Background color and gradients */
  background: #F2F2F2;
}


#newmenu li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; 
  color: #888888;
  display: block;
  outline: 0;
  text-decoration: none;

  &.drop {
    color: #EEEEEE;
    font-size: 11px;
  }
}

#newmenu li:hover a {
  color:#008ACF;
  text-shadow: 1px 1px 1px #ffffff;
}

#newmenu li .drop {
  padding-right: 14px;
  background: image-url("drop_inv.png") no-repeat right 7px;
}

#newmenu li:hover .drop {
  background: image-url("drop.png") no-repeat right 7px;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns {
  margin: 2px auto;
  float: left;
  position: absolute;
  left: -999em;
  text-align: left;
  padding: 10px 5px 10px 5px;
  border: 1px solid #cccccc;
  border-top: none;

  /* Gradient background */
  background:#F2F2F2;
}

.dropdown_1column {width: 160px;}
.dropdown_2columns {width: 320px;}
.dropdown_3columns {width: 480px;}

#newmenu li:hover .dropdown_1column, 
#newmenu li:hover .dropdown_2columns, 
#newmenu li:hover .dropdown_3columns {
  left: 0px;
  top: auto;
}

.col_1,
.col_2,
.col_3 {
  display:inline;
  float: left;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.col_1 {width:150px;}
.col_2 {width:310px;}
.col_3 {width:470px;}

#newmenu .menu_right {
  float: right;
  margin-right: 0px;
}

#newmenu li .align_right {
  /* Rounded Corners */
  -moz-border-radius: 5px 0px 5px 5px;
  -webkit-border-radius: 5px 0px 5px 5px;
  border-radius: 5px 0px 5px 5px;
}

#newmenu li:hover .align_right {
  left: auto;
  right: 0px;
  top: auto;
}

#newmenu p, #newmenu h2, #newmenu h3, #newmenu ul li {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  font-size: 14px;
  text-align: left;	
}

#newmenu h2 {
  font-size: 15px;
  font-weight: 400;
  margin: 0px 0 0px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #666666;
}

#newmenu h3 {
  font-size: 12px;
  margin: 1px 0 8px 0;
  padding-bottom: 0px;
  border-bottom: 0px solid #888888;
}

#newmenu p {
  line-height:18px;
  margin:0 0 0px 0;
}

#newmenu li:hover div a {
  font-size:10px;
  color:#4d4d4d;
}

#newmenu li:hover div a:hover {
  color:#029feb;
}


.strong {
  font-weight:bold;
}

.italic {
  font-style:italic;
}

.imgshadow {
  background: #FFFFFF;
  padding: 4px;
  border: 1px solid #777777;
  margin-top: 5px;
  -moz-box-shadow: 0px 0px 5px #666666;
  -webkit-box-shadow: 0px 0px 5px #666666;
  box-shadow: 0px 0px 5px #666666;
}

.img_left {
  width:auto;
  float:left;
  margin:5px 15px 5px 5px;
}

#newmenu li ul {
  list-style:none;
  padding:0;
  margin:0 0 12px 0;
}

#newmenu li ul li {
  font-size:12px;
  line-height: normal;
  position:relative;
  text-shadow: 1px 1px 1px #ffffff;
  padding: 0 0 5px 0;
  margin:0;
  float:none;
  text-align:left;
}

#newmenu li ul li:hover {
  background:none;
  border:none;
  padding: 0 0 5px 0;
  margin:0;
}
