- if @resource.sexo_id == 1
  Estimada
- else
  Estimado

= @resource.nombre

%p
  Alguien solicitó un enlace para cambiar la contraseña de la cuenta asociada con esta dirección de correo electrónico.
  Puede cambiar su contraseña a través del enlace que se encuentra debajo.

%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p Si no ha solicitado este enlace, ignore este mensaje de correo.

%p Su contraseña no se cambiará hasta que acceda al enlace de arriba y cree una nueva.
