- content_for :title do
  Nomencladores

#content-header
  %h1 Editar Nomenclador
  #action-links
    = link_to '<< Volver al listado', nomencladores_path
    = link_to 'Ver', @nomenclador
#content-body
  = render :partial => "shared/info", :locals => { :registro => @nomenclador }
  = render 'form'
