- content_for :title do
  Nomencladores

#content-header
  %h1 Nuevo Nomenclador
  #action-links
    = link_to '<< Volver al listado', nomencladores_path

#content-body
  = render :partial => "shared/info", :locals => { :registro => @nomenclador }
  = render 'form'