- content_for :title do
  Carga de nuevo archivo masivo

#content-header
  %h1 Creación de un nuevo archivo masivo

= render :partial => "shared/info", :locals => { :registro => @carga_masiva }

#content-body
  %h2.first-header-with-note Formulario de creación de una carga masiva
  %p.note Los campos marcados con asterisco (*) son obligatorios

  = render 'form'
