- content_for :title do
  Modificación de datos de la cuasi-factura

#content-header
  %h1 Modificación de datos de la cuasi-factura

= render :partial => "shared/info", :locals => {:registro => @cuasi_factura}

#content-body
  %h2.first-header-with-note Formulario de modificación de datos de la cuasi-factura
  %p.note Los campos marcados con asterisco (*) son obligatorios

  = render 'form'
