- content_for :title do
  Creación de una nueva cuasi-factura

#content-header
  %h1 Creación de una nueva cuasi-factura

= render :partial => "shared/info", :locals => { :registro => @cuasi_factura }

#content-body
  %h2.first-header-with-note Formulario de creación de una cuasi-factura
  %p.note Los campos marcados con asterisco (*) son obligatorios

  = render 'form'
