%table.prestaciones_principales
  
  %thead
  %tr
    %th Nombre de la prestación
    %th Código   
    %th Autorizar check
  %tbody 


    - prestaciones_principales.each do |p|

      %tr
        
        %td= p["nombre"]

        %td.centrado= p["codigo"]

        %td.centrado 

          = hidden_field_tag "solicitud_addenda[prestacion_principal_id][" + p["id"].to_s+"]", nil
          = check_box_tag "solicitud_addenda[prestacion_principal_id][" + p["id"].to_s+"]", p["id"].to_s, true, id: dom_id(PrestacionPrincipal.find(p["id"].to_s))
      

          
