- content_for :title do
  Selección de la unidad de alta de datos

#content-header
  %h1 Selección de la unidad de alta de datos

#content-body
  %h2.first-header Unidades de alta de datos autorizadas

  = form_tag('/seleccionar_uad', :method => 'get') do
    %div.field
      = label_tag :unidad_de_alta_de_datos_id, "Unidad de alta de datos"
      = select_tag :unidad_de_alta_de_datos_id, options_for_select(@unidades_de_alta_de_datos,
        @unidad_de_alta_de_datos_id), :include_blank => false
    %div.actions
      = submit_tag("Seleccionar")
