<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @estado_de_rendicion.nombre %>
</p>


<%= link_to 'Edit', edit_estado_de_rendicion_path(@estado_de_rendicion) %> |
<%= link_to 'Back', estados_de_rendiciones_path %>
